html {
  scroll-behavior: smooth;
  height: 100vh !important;
  display: block !important;
  overflow-y: scroll;
  padding-top: 6rem;
  scroll-padding-top: 6rem;
}

nav {
  position: fixed !important;
}

section {
  height: calc(100svh - 6rem);
}

body > * {
  scroll-snap-align: end;
}
